.disabled-block {
  display: none !important;
  width: 0;
  height: 0;
}
.select-options {
  padding: 10px;
}
.select-options__logo {
  display: block;
  margin: 50px auto 0;
  background-image: url(../img/logo.png);
  width: 350px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}
.select-options__steps-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.select-options__prev-button,
.select-options__next-button {
  display: block;
  margin: 30px 20px 10px;
  min-width: 120px;
  min-height: 40px;
  font-size: 16px;
  background-color: #ccdeff;
  border: 1px solid #9f9ff5;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 5px 20px 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.select-options__prev-button:hover,
.select-options__next-button:hover {
  cursor: pointer;
  background-color: #bdcdec;
}
.time-select {
  height: 40px;
}
.time-select--container {
  width: 800px;
  min-height: 270px;
  background-color: #e6eafd;
  border-radius: 5px;
  margin: 50px auto 0;
  padding: 10px;
  text-align: center;
  background-color: #8996bb;
  box-shadow: 0 7px 42px rgba(0, 0, 0, 0.5);
}
.time-select__title {
  font-size: 32px;
  font-family: 'FuturaNewBook', sans-serif;
  margin: 15px 0 35px;
}
.time-select__select-input {
  font-size: 18px;
  padding: 5px;
}
.place-select--container {
  width: 800px;
  min-height: 270px;
  background-color: #e6eafd;
  border-radius: 5px;
  margin: 50px auto 0;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #8996bb;
  box-shadow: 0 7px 42px rgba(0, 0, 0, 0.5);
}
.place-select__title {
  font-size: 32px;
  width: 100%;
  margin-top: 30px 0;
  font-family: 'FuturaNewBook', sans-serif;
}
.place-select__description {
  font-size: 18px;
  width: 100%;
  font-family: 'FuturaNewBook', sans-serif;
}
.place-select__option-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.place-select__select-input {
  font-size: 18px;
  padding: 5px;
}
.place-select__option-block {
  max-width: 200px;
  width: calc(100%/3 - 80px);
  background-color: #a5bacc;
  padding: 20px;
  margin: 20px;
  height: 100%;
  border-radius: 5px;
}
.place-select__option-block:hover {
  background-color: #b3c9dc;
}
.routes {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  min-width: 400px;
  height: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: scroll;
}
.routes--disabled {
  display: none;
}
.routes__one-route {
  font-family: 'FuturaNewBook', sans-serif;
  margin: 10px 0;
  background-color: #f5f5f5;
  padding: 8px 14px;
  border-radius: 5px;
}
.routes__one-route:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.routes__back-link {
  font-family: 'FuturaNewBook', sans-serif;
  text-align: center;
  margin: 30px auto 10px;
  width: 150px;
  background-color: #f5f5f5;
  padding: 8px 14px;
  border-radius: 5px;
}
.routes__back-link:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.routes-map__header-container {
  width: 100%;
  height: 110px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
}
.routes-map__change-rout-button,
.routes-map__change-priority-button {
  display: block;
  margin: 0 20px 0;
  min-width: 120px;
  min-height: 40px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #9f9ff5;
  border-radius: 5px;
  text-transform: uppercase;
  height: 50px;
  padding: 5px 20px 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.routes-map__change-rout-button:hover,
.routes-map__change-priority-button:hover {
  cursor: pointer;
  background-color: #bdcdec;
}
.routes-map__title {
  font-size: 36px;
}
.routes-map__map {
  width: 100%;
  height: 100vh;
}
.hint {
  position: absolute;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: rgba(102, 171, 17, 0.5);
  bottom: 50px;
  right: 100px;
  z-index: 1;
}
.filters {
  position: absolute;
  background-color: white;
  width: 300px;
  height: 100vh;
  z-index: 1;
  transition: left 0.5s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.filters--hide {
  transition: left 0.5s;
  left: -300px;
}
.filters__title {
  margin: 35px 20px 25px;
  font-family: 'FuturaNewBook', sans-serif;
  font-size: 24px;
}
.filters__category {
  background-color: #f5f5f5;
  margin: 13px 10px;
  padding: 8px 14px;
  border-radius: 5px;
  font-family: 'FuturaNewBook', sans-serif;
}
.filters__category:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.filters__category--active {
  background-color: #78bd73;
}
.filters__category--active:hover {
  background-color: #93e68d;
}
.parameters {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'FuturaNewBook', sans-serif;
}
.parameters__time {
  margin-left: 15px;
}
.menu {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 60px;
  background-color: white;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.menu__element {
  background-color: #f5f5f5;
  margin: 5px 0px;
  padding: 8px 14px;
  border-radius: 5px;
  font-family: 'FuturaNewBook', sans-serif;
}
.menu__element:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.menu__element--main-point {
  background-color: #78bd73;
}
.menu__element--main-point:hover {
  background-color: #93e68d;
}
.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #666c88;
  z-index: 9999;
}
.preloader__img {
  width: 400px;
  height: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("https://cdn.dribbble.com/users/8106/screenshots/1297289/sp_loader.gif");
}
.disabled-block {
  display: none;
}
